<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - E Learning</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
    <div class="container" id="app">
        <header>
            <h1>Your Cart</h1>
            <nav>
                <a href="index.html">Home</a>
                <a href="products.html">Products</a>
                <a href="cart.html">Cart</a>
            </nav>
        </header>
        <section>
            <div v-if="cart.length === 0">
                Your Cart is Empty!
            </div>
            <div v-else>
                <div v-for="course in cart" :key="course.id" class="product">
                    <h3>{{course.subject}}</h3>
                    <p>{{course.location}} <span class="price">￡{{course.price}}</span></p>
                    <p>Availabilty: <span>{{course.space}}</span></p>
                    <button type="button" class="add-to-cart" @click="removeItemFromCart(course)">Remove</button>
                </div>
            </div>
            <div class="total">
                <h3>Total: ￡<span>{{totalPrice}} </span></h3>
                <button type="button" @click="checkout(cart)" class="add-to-cart">Checkout</button>
            </div>
        </section>
        <footer>
            <p>©️ 2024 Online Lessons. All rights reserved</p>
        </footer>
    </div>
    <script src="assets/js/app.js"></script>
</body>
</html>